<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>私のウェブサイトへようこそ</h1>
    <div>
        <h3>こんにちは 私はHungです</h3>
        <p>よろしくお願いします</p>
        <form action="/users/Logout" method="post" >
            <button type="submit" class="btn btn-primary mt-3" >Logout</button>
        </form>
    </div>
  </body>
</html>
