<div class="d-flex align-items-center justify-content-center flex-column" style="min-height: 100vh;">
    <h2 class="fw-bold mb-2">
        ITを勉強してる
    </h2>
    <div class="d-flex w-100 justify-content-center">
        <a href="/users/login" class="btn btn-primary" style="width: 100px; margin-right: 10px;">Login</a>
        <a href="/users/register" class="btn btn-primary" style="width: 100px; margin-right: 10px; ">Register</a>
    </div>
</div>